@model TherapyDashboard.ViewModels.DetailViewModel
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script src="http://d3js.org/d3.v4.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../Styles/SinglePatient.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://rawgithub.com/smart-on-fhir/client-js/master/dist/fhir-client.js"></script>

</head>
<body>

    <div id="modalContainer">
        <button type="button" class="btn btn-danger" id="closeModalButton" onclick="hideSpiderChart()">
        x
        </button>
        <div id="outerSpider">
            <div id="spiderChart" class="spider"></div>
        </div>
        <div id="aggregateSpiderController"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-5">
                <div class="row" >
                    <h3 style="text-align: center;">@Model.pat.name</h3> 
                </div>
                <div class="row">

                    <div class="col-xs-6">
                        <div id="image">
                            <img src="~/Images/DefaultPerson.png" alt="Person picture" class="responsive">
                        </div>
                    </div>

                    <div class="col-xs-6" style="position: relative;">
                        <!-- TODO have dropdown ignore overflow, and remove hardcoded pixels -->
                        <fieldset class="form-group" id="observationsContainer" style ="height: 300px; overflow-x: hidden;">
                            <!-- TODO add questionnaire graphs to this -->
                            <legend>Observations</legend>

                            

                            <!--
                            <div class="form-check" id="observationCheckBox">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="" checked="">
                                    PH1
                                </label>
                            </div>
                             -->
                            
                        </fieldset>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="background" id="background">
                            
                            <table class="table table-hover table-striped">
                                <tbody>
                                    @{
                                        var background = new Dictionary<string, string>() {
                                            { "Alder", "30" },
                                            { "Kjønn", "Mann" },
                                            { "Utdanning","Videregående skole/gymnas" },
                                            { "Sivilstatus", "Enslig" },
                                            { "Antall barn", "Ingen" }
                                        };
                                    
                                        foreach (var entry in background)
                                        {
                                            <tr class="table-active">
                                                <th scope="row">
                                                    <span class="normalText">@entry.Key</span>
                                                </th>
                                                <td scope="row">
                                                    <span class="normalText">@entry.Value</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    <tr class="table-active">
                                            <th scope="row">
                                                <span class="normalText">Modul</span>
                                            </th>
                                            <td scope="row">
                                                <span class="normalText">@Model.pat.module</span>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h4 style="text-align: center;">Add graph</h4>

                        <div class="graphControl">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    <tr class="table-active">
                                        <td scope="row">
                                            <button type="button" class="btn btn-info" 
                                                onclick="createSpiderChart()">
                                                (COMPOSITE) kategori
                                            </button>
                                        </td>
                                    </tr>

                                    <tr class="table-active">
                                        <td scope="row">
                                            <button type="button" class="btn btn-info" 
                                            onclick="createBarChart('line')">
                                                Innloggingsaktivitet
                                            </button>
                                        </td>
                                        
                                    </tr>
                                    <tr class="table-active">
                                        <td scope="row">
                                            <button type="button" class="btn btn-info"
                                            onclick="createEventLine('line')">Events TODO remove</button>
                                        </td>  
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="forms">
                            <h4>Other measurements</h4>

                            <table class="table table-hover table-striped">
                                <tbody>
                                    @{
                                        List<string> forms = new List<string>(){"SPS", "SIAS", "SE - SKALA", "TIC - C", "Bakgrunn"};

                                        foreach (var f in forms)
                                        {
                                            <tr class="table-active">
                                                <td scope="row">
                                                    <a href="@Url.Action("" , "Patient" )" class="elements">
                                                        <span class="normalText">@f</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="oppgaver">
                            <h4>Received documents</h4>

                            <table class="table table-hover table-striped">
                                <tbody>
                                    @{
                                        var tasks = new string[] { "Modul 1: Skjema 1", "Modul 1: Skjema 2", "Modul 2: Skjema 1", "Modul 2: Skjema 2", "Modul 2: Skjema 3", };

                                        foreach (var entry in tasks)
                                        {
                                            <tr class="table-active">
                                                <td scope="row">
                                                    <a href="@Url.Action("" , "Patient" )" class="elements">
                                                        <span class="normalText">@entry</span>
                                                    </a>
                                                </td>
                                                <td scope="row">
                                                    <span class="normalText">Opened</span>
                                                </td>
                                                <td scope="row">
                                                    <span class="normalText">Quality 1</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div> 
            </div>

            <div class="col-xs-7">
                <div class="row">
                    <div id="line"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var forms = @Html.Raw(@Model.json);
        var name = "@Model.pat.name";
        //console.log(forms["2010-12-01"])
    </script>


    <script src="~/Scripts/Custom/DynamicSpider/SpiderChart.js"></script>
    <script type="text/javascript" src="~/Scripts/Custom/DynamicSpider/LineChart.js"></script>
    <script src="~/Scripts/Custom/DynamicSpider/Controller.js"></script>
    <script src="~/Scripts/Custom/DetailView/HCBarChart.js"></script>
    <script src="~/Scripts/Custom/FhirRepository.js"></script>
    <script type="text/javascript" src="~/Scripts/Custom/FhirCharts.js"></script>
</body>
</html>

