@model TherapyDashboard.Models.Patient

<head>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <style>
        #container {
            min-width: 310px;
            max-width: 800px;
            height: 300px;
            margin: 0 auto
        }

        .background {
            width: 250px;
            float: right;
            margin-right: 100px;
        }

        .forms {
            width: 200px;
            float: left;
            margin-left: 100px;
        }
        .oppgaver {
            width: 200px;
            float: left;
            margin-left: 100px;
        }

        body {
            overflow: hidden;
            position: relative
        }
    </style>
</head>
<body>
    <h2 style="margin-left: 40%">@Model.name</h2>
    <div id="container"></div>
    <script src="~/Scripts/Custom/LineChart.js"></script>

    <div style="height: 250px"></div>

    <div class="forms">
        <h4>Other measurements</h4>

        <table class="table table-hover">
            <tbody>
                @foreach (var f in Model.forms)
                {
                    <tr class="table-active">
                        <td scope="row">
                            <a href="@Url.Action("" , "Patient" )" class="elements">
                                <span>@f</span>
                            </a>
                        </td>
                    </tr>
                }

        </table>
    </div>

    <div class="background">
        <h4>Background</h4>

        <table class="table table-hover">
            <tbody>
                @foreach (var entry in Model.background)
                {
                <tr class="table-active">
                    <td scope="row">
                        <span>@entry.Key</span>
                    </td>
                    <td scope="row">
                        <span>@entry.Value</span>
                    </td>
                </tr>
                }

        </table>
    </div>

    <div class="oppgaver">
        <h4>Received documents</h4>

        <table class="table table-hover">
            <tbody>
                @foreach (var entry in Model.oppgaver)
                {
                    <tr class="table-active">
                        <td scope="row">
                            <a href="@Url.Action("" , "Patient" )" class="elements">
                                <span>@entry</span>
                            </a>
                        </td>
                    </tr>
                }

        </table>
    </div>

</body>


