@model TherapyDashboard.Models.Patient

<head>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    
    <style>
        .line {
            min-width: 310px;
            max-width: 800px;
            height: 300px;
            margin: 0 auto
        }

        .background {
            width: 250px;
            float: right;
            margin-right: 100px;
        }

        .forms {
            width: 200px;
            float: left;
            margin-left: 100px;
        }

        .oppgaver {
            width: 200px;
            float: left;
            margin-left: 100px;
        }

        body {
            overflow: hidden;
            position: relative
        }

        .spider {
            width: 50%;
            height: 250px;
            margin: 0 auto;
            float: left;
            margin-left: 30%;
        }

        .polar {
            width: 50%;
            height: 250px;
            margin: 0 auto;
            float: right;
        }
    </style>
</head>
<body>
    <h2 style="margin-left: 40%">@Model.name</h2>
    <div id="linechart" class="line"></div>

    <div style="width: auto; height: 280px;">
        <div id="spiderchart" class="spider" hidden></div>
    </div>
    
    

    <script src="~/Scripts/Custom/LineChart.js"></script>
    <script src="~/Scripts/Custom/SpiderChart.js"></script>

   

    <div class="forms">
        <h4>Other measurements</h4>

        <table class="table table-hover">
            <tbody>
                @foreach (var f in Model.forms)
                {
                    <tr class="table-active">
                        <td scope="row">
                            <a href="@Url.Action("" , "Patient" )" class="elements">
                                <span>@f</span>
                            </a>
                        </td>
                    </tr>
                }

        </table>
    </div>

    <div class="background">
        <h4>Background</h4>

        <table class="table table-hover">
            <tbody>
                @foreach (var entry in Model.background)
                {
                    <tr class="table-active">
                        <th scope="row">
                            <span>@entry.Key</span>
                        </th>
                        <td scope="row">
                            <span>@entry.Value</span>
                        </td>
                    </tr>
                }

        </table>
    </div>

    <div class="oppgaver">
        <h4>Received documents</h4>

        <table class="table table-hover">
            <tbody>
                @foreach (var entry in Model.tasks)
                {
                <tr class="table-active">
                    <td scope="row">
                        <a href="@Url.Action("" , "Patient" )" class="elements">
                            <span>@entry</span>
                        </a>
                    </td>
                    <td scope="row">
                        <span>Opened</span>
                    </td>
                </tr>
                }

        </table>
    </div>

</body>


